@model University.BL.DTOs.CourseDTO
@{
    ViewBag.Title = "Create";
}

<h2>Create Course</h2>
<hr />
@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<form method="post" action="/Courses/Create">

    @Html.DisplayNameFor(m => m.CourseID)
    @Html.EditorFor(m => m.CourseID, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.CourseID, "", new { @class = "text-danger" })

    @Html.DisplayNameFor(m => m.Title)
    @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })

    @Html.DisplayNameFor(m => m.Credits)
    @Html.EditorFor(m => m.Credits, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Credits, "", new { @class = "text-danger" })

    <hr />
    <input type="submit" value="Create" class="btn btn-primary" />
</form>