@using PagedList.Mvc;
@model PagedList.IPagedList<University.BL.DTOs.DepartmentDTO>
@{
    ViewBag.Title = "Index";
}

<h2>Welcome To Departments</h2>

<hr />
@Html.ActionLink("New Department", "Create", "Deparment", null, new { @class = "btn btn-sm btn-outline-success" })
<hr />
@using (Html.BeginForm("Index", "Deparment", FormMethod.Get))
{
    <p>
        <select name="PageSize" id="PageSize" class="form-control">
            <option @if ((int)ViewBag.PageSize == 5) { @Html.Raw("selected") }>
                5
            </option>
            <option @if ((int)ViewBag.PageSize == 10) { @Html.Raw("selected") }>
                10
            </option>
            <option @if ((int)ViewBag.PageSize == 15) { @Html.Raw("selected") }>
                15
            </option>

        </select>
        <br />
        <input type="submit" value="Apply" class="btn btn-outline-primary" />
    </p>
}

<table class="table table-bordered table-responsive table-responsive">
    <thead class="thead-dark">
        <tr>
            <th>DeparmentID</th>
            <th>Name</th>
            <th>Budget</th>
            <th>StartDate</th>
            <th>Instructor</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DepartmentID</td>
                <td>@item.Name</td>
                <td>@item.Budget</td>
                <td>@item.StartDate</td>
                <td>@item.Instructor.FullName</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Departments", new { departmentid = item.DepartmentID }, new { @class = "btn btn-sm btn-info" })
                    @Html.ActionLink("Delete", "Delete", "Departments", new { departmentid = item.DepartmentID }, new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0: Model.PageNumber) of @Model.PageCount
<br />
Total Item Count @Model.TotalItemCount
@Html.PagedListPager(Model, page => Url.Action("Index", "Departments", new { page, pageSize = ViewBag.PageSize }))
